{% extends "layout/base.html" %}

{% block title %}Agentes IA{% endblock title %}

{% block content %}

    {% include "partials/page_header.html" with page_section="Agentes IA" %}

    <div class="d-flex justify-content-end">
        <a href="{% url "chatbot:create" %}" class="btn btn-primary btn-sm mb-3">Novo agente IA</a>
    </div>

    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Agente</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for agent in agents %}
                        <tr>
                            <td>{{ agent }}</td>
                            <td>
                                <td class="text-end">
                                    <a href="{% url "chatbot:detail" agent.pk %}">
                                        <i class='bx bx-message-dots'></i>
                                    </a>
                                    <a href="{% url "chatbot:update" agent.pk %}" class="ms-2">
                                        <i class='bx bx-edit'></i>
                                    </a>
                                    <a href="{% url "chatbot:delete" agent.pk %}" class="ms-2 text-danger">
                                        <i class='bx bx-trash' ></i>
                                    </a>
                                </td>
                            </td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="2" class="text-center">Não há agentes cadastrados.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}