{% extends "layout/base.html" %}

{% block title %}Agente IA{% endblock title %}

{% block content %}

    {% include "partials/page_header.html" with page_section=agent.name %}

    <div class="container">
        <div id="message-logs">
            {% for log in message_logs %}
                <p class="message message-{{ log.role }}">{{ log.message }}</p>
            {% endfor %}
        </div>
        <div id="question-response"></div>
        {% csrf_token %}
        <textarea name="question" id="question" placeholder="Digite a sua pergunta" class="form-control"></textarea>
        <button class="btn btn-primary mt-2" onclick="getStreamResponse('{% url "chatbot:get_agent_answer" agent.id %}', '{% url "chatbot:save_message" agent.id %}')">
            Enviar
        </button>
    </div>

{% endblock content %}