{% extends "layout/base.html" %}

{% load render_md static %}

{% block title %}{{ note.title }}{% endblock title %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static "css/codehilite.css" %}">

    {% include "partials/page_header.html" with page_section=note.title|default:"Sem título" %}

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div><strong>{{ note.title|default:"Sem título" }}</strong></div>
                <a href="{% url "notes:update" note.pk %}" class="btn btn-primary btn-sm">
                    Editar
                </a>
            </div>

            {{ note.content|render_markdown }}
        </div>
        <div class="card-footer">
            <a href="{% url "notes:delete" note.pk %}" class="btn btn-danger btn-sm">Excluir</a>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll("pre").forEach(pre => {
                // Criar botão de cópia
                let button = document.createElement("button");
                button.innerText = "Copiar";
                button.classList.add("copy-btn");
                pre.style.position = "relative";
        
                // Adicionar botão ao bloco de código
                pre.appendChild(button);
        
                // Evento de clique para copiar código
                button.addEventListener("click", () => {
                    let code = pre.querySelector("code");
                    if (code) {
                        navigator.clipboard.writeText(code.innerText).then(() => {
                            button.innerText = "Copiado!";
                            setTimeout(() => button.innerText = "Copiar", 2000);
                        });
                    }
                });
            });
        });
    </script>
        

{% endblock content %}