{% extends "layout/base.html" %}

{% block title %}Nova anotação{% endblock title %}

{% block content %}

    {% include "partials/page_header.html" with page_section="Nova anotação" %}

    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-sm mt-2">
                    {% if note %}Atualizar{% else %}Salvar{% endif %}
                </button>
                <a href="{% url "notes:list" %}" class="btn btn-secondary btn-sm mt-2">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock content %}