{% extends "layout/base.html" %}

{% block title %}Anotações{% endblock title %}

{% block content %}
    {% include "partials/page_header.html" with page_section="Anotações" %}

    <div class="d-flex justify-content-end">
        <a href="{% url "notes:create" %}" class="btn btn-primary btn-sm mb-3">Nova anotação</a>
    </div>
    
    <div class="card">
        <div class="card-body">
            <form method="get">
                <div class="row">
                    <div class="col-md-7">
                        <input type="text" name="q" placeholder="Digite o título ou conteúdo" class="form-control mb-2" value="{{ request.GET.q }}">
                    </div>
                    <div class="col-md-3">
                        <select name="f" class="form-select">
                            <option value="">---</option>
                            {% for tag in tags_list %}
                                <option value="{{ tag }}" {% if request.GET.f == tag %}selected{% endif %}>{{ tag }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </div>
                </div>
            </form>
            <table class="table table-responsive-md table-striped">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Conteúdo</th>
                        <th>Tags</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for note in notes %}
                        <tr>
                            <td>{{ note.title|default:"Sem título" }}</td>
                            <td>{{ note.content|truncatechars:30 }}</td>
                            <td>
                                {% for tag in note.tags.all %}
                                    <span class="badge badge-{{ tag.color_class }}">{{ tag.name }}</span>
                                {% endfor %}
                            </td>
                            <td class="text-end">
                                <a href="{% url "notes:detail" note.pk %}">
                                    <i class='bx bx-show'></i>
                                </a>
                                <a href="{% url "notes:update" note.pk %}" class="ms-2">
                                    <i class='bx bx-edit'></i>
                                </a>
                                <a href="{% url "notes:delete" note.pk %}" class="ms-2 text-danger">
                                    <i class='bx bx-trash' ></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">
                                {% if request.GET.q or request.GET.f %}
                                    Nenhum resultado encontrado.
                                {% else %}
                                    Nenhuma anotação cadastrada.
                                    <a href="{% url "notes:create" %}">
                                        Criar uma anotação
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "partials/pagination.html" %}
        </div>
    </div>
    
{% endblock content %}