{% extends "layout/public_base.html" %}

{% block title %}Conteúdo público{% endblock title %}

{% block content %}

    {% include "partials/navbar.html" %}

    <div class="container mt-5" style="max-width: 800px;">
        <ul class="list-unstyled">
            {% for note in notes %}
                <li class="mb-2">
                    <p class="mb-0">
                        {{ forloop.counter }}. <a href="#" class="text-dark">{{ note.title }}</a>
                        <span class="float-end">
                            {% for tag in note.tags.all %}
                                <span class="float-end badge badge-{{ tag.color_class }} ms-1">{{ tag.name }}</span>
                            {% endfor %}
                        </span>
                    </p>
                    <p class="text-muted ms-3"><small>{{ note.author.get_full_name|default:"Sem autor" }} - {{ note.created_ago }}</small></p>
                </li>
            {% empty %}
                <li>Nenhum artigo até o momento.</li>
            {% endfor %}
        </ul>

        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item me-2">
                            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                        </li>
                    {% else %}
                        <li class="page-item me-2">
                            <a href="#" class="text-muted">Anterior</a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li class="page-item ms-2">
                            <a href="?page={{ page_obj.next_page_number }}">próximo</a>
                        </li>
                    {% else %}
                        <li class="page-item ms-2">
                            <a href="#" class="text-muted">próximo</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

{% endblock content %}