{% extends "layout/base.html" %}

{% load render_md %}

{% block title %}{{ task.title }}{% endblock title %}

{% block content %}

    {% include "partials/page_header.html" with page_section=task.title %}

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div><strong>{{ task.title }}</strong></div>
                <a href="{% url "tasks:update" task.pk %}" class="btn btn-primary btn-sm">
                    Editar
                </a>
            </div>

            <h3>Descrição</h3>
            
            {{ task.description|render_markdown }}
        </div>
        <div class="card-footer">
            <a href="{% url "tasks:delete" task.pk %}" class="btn btn-danger btn-sm">Excluir</a>
        </div>
    </div>

{% endblock content %}