{% extends "layout/base.html" %}

{% block title %}Excluir tarefa{% endblock title %}

{% block content %}

    {% include "partials/page_header.html" with page_section="Tarefas" %}

    <div class="card">
        <div class="card-body">
            <h1 class="mt-1">Confirmar</h1>
            <p>
                Tem certeza que deseja excluir a tarefa
                <strong>{{ task.title|default:"Sem título" }}</strong>?
            </p>
            <div class="d-flex">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                </form>
                <a href="{% url "tasks:list" %}" class="btn btn-secondary btn-sm ms-2">Cancelar</a>
            </div>
        </div>
    </div>

{% endblock content %}