{% extends "layout/base.html" %}

{% block title %}Tarefas{% endblock title %}

{% block content %}
    {% include "partials/page_header.html" with page_section="Tarefas" %}

    <div class="d-flex justify-content-end">
        <a href="{% url "tasks:create" %}" class="btn btn-primary btn-sm mb-3">Nova tarefa</a>
    </div>
    
    <div class="card">
        <div class="card-body">
            <form method="get">
                <input type="text" name="q" placeholder="Digite o título" class="form-control mb-2" value="{{ request.GET.q }}">
            </form>
            <table class="table table-responsive-md table-striped">
                <thead>
                    <tr>
                        <th>Tarefa</th>
                        <th>Status</th>
                        <th>Alterar status</th>
                        <th>Data de entrega</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.title }}</td>
                            <td><span class="badge badge-info">{{ task.get_status_display }}</span></td>
                            <td>
                                <form action="{% url "tasks:change_status" %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="task_id" value="{{ task.id }}">
                                    <button type="submit" class="btn btn-link p-0 text-decoration-none">
                                        {% if task.status == 'backlog' %}
                                            <input type="hidden" name="next_status" value="todo">
                                            <i class='bx bx-skip-next-circle'></i>
                                            À fazer
                                        {% endif %}
                                        {% if task.status == 'todo' %}
                                            <input type="hidden" name="next_status" value="development">
                                            <i class='bx bx-play-circle'></i>
                                            Em desenvolvimento
                                        {% endif %}
                                        {% if task.status == 'development' %}
                                            <input type="hidden" name="next_status" value="done">
                                            <i class='bx bx-skip-next-circle'></i>
                                            Finalizar
                                        {% endif %}
                                    </button>
                                </form>
                            </td>
                            <td>{{ task.due_date|default:"Não definida" }}</td>
                            <td class="text-end">
                                <a href="{% url "tasks:detail" task.pk %}" class="ms-2">
                                    <i class='bx bx-show'></i>
                                </a>
                                <a href="{% url "tasks:update" task.pk %}" class="ms-2">
                                    <i class='bx bx-edit'></i>
                                </a>
                                <a href="{% url "tasks:delete" task.pk %}" class="ms-2 text-danger">
                                    <i class='bx bx-trash' ></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3" class="text-center">
                                {% if request.GET.q %}
                                    Nenhum resultado encontrado.
                                {% else %}
                                    Nenhuma tarefa cadastrada.
                                    <a href="{% url "tasks:create" %}">
                                        Criar uma tarefa
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock content %}