{% extends "layout/base.html" %}

{% block title %}Transações{% endblock title %}

{% block content %}

    {% include "partials/page_header.html" with page_section="Transações" %}

    <div class="d-flex justify-content-end">
        <a href="{% url "finance:debt_list" %}" class="btn btn-primary btn-sm mb-3">Nova dívida</a>
    </div>
    
    <div class="card">
        <div class="card-body">
            <table class="table table-responsive-md table-striped">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Parcelas pagas</th>
                        <th>Categoria</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.description|truncatechars:30 }}</td>
                            <td>R$ {{ transaction.value }}</td>
                            <td>{{ transaction.due_date }}</td>
                            <td>{{ transaction.category }}</td>
                            <td class="text-end">
                                <a href="#" class="ms-2">
                                    <i class='bx bx-edit'></i>
                                </a>
                                <a href="#" class="ms-2 text-danger">
                                    <i class='bx bx-trash' ></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">
                                {% if request.GET.q or request.GET.f %}
                                    Nenhum resultado encontrado.
                                {% else %}
                                    Nenhuma dívida cadastrada.
                                    <a href="{% url "finance:debt_create" %}">
                                        Criar uma dívida
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "partials/pagination.html" %}
        </div>
    </div>

{% endblock content %}