{% extends "layout/base.html" %}

{% block title %}Transações{% endblock title %}

{% block content %}

    {% include "partials/page_header.html" with page_section="Transações" %}

    <div class="d-flex justify-content-end">
        <a href="{% url "finance:transaction_create" %}" class="btn btn-primary btn-sm mb-3">Nova transação</a>
    </div>
    
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="nav-month d-flex align-items-end">
                    <a href="{% url "finance:transaction_list" %}?{{ change_month_href.previous }}" class="h4 me-2">
                        <i class='bx bxs-caret-left-square'></i>
                    </a>
                    <p>{{ change_month_href.actual }}</p>
                    <a href="{% url "finance:transaction_list" %}?{{ change_month_href.next }}" class="h4 ms-2">
                        <i class='bx bxs-caret-right-square'></i>
                    </a>
                </div>
    
                <div class="d-flex justify-content-end">
                    <span class="badge badge-success">
                        <h4>Saldo: R$ {{ month_balance }}</h4>
                    </span>
                </div>
            </div>

            <table class="table table-responsive-md table-striped">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Data de vencimento</th>
                        <th>Responsável</th>
                        <th>Categoria</th>
                        <th>Tipo</th>
                        <th>Pago</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.description|truncatechars:30 }}</td>
                            <td>R$ {{ transaction.value }}</td>
                            <td>
                                {% if transaction.is_permanent %}
                                    Recorrente
                                {% else %}
                                    {{ transaction.due_date|default:"Sem data de vencimento" }}
                                {% endif %}
                            </td>
                            <td>{{ transaction.owner.get_full_name|default:"<span class='text-info'>Não definido</span>" }}</td>
                            <td>{{ transaction.category|default:"Sem categoria" }}</td>
                            <td>
                                {% with transaction.get_transaction_type_display as display_text %}
                                    <span class="badge badge-{% if transaction.transaction_type == 'expense' %}danger{% else %}success{% endif %}">
                                        {{ display_text }}
                                    </span>
                                {% endwith %}
                            </td>
                            <td>
                                <span class="badge badge-{% if transaction.is_paid %}success{% else %}danger{% endif %}">
                                    {{ transaction.is_paid|yesno:"Sim,Não" }}
                                </span>
                            </td>
                            <td class="text-end">
                                <button type="button" class="btn btn-text text-success m-0 p-0 ms-2" data-bs-toggle="modal" data-bs-target="#paidModal{{ transaction.id }}">
                                    <i class='bx bx-money'></i>
                                </button>
                                  
                                <div class="modal fade" id="paidModal{{ transaction.id }}" tabindex="-1" aria-labelledby="paidModal{{ transaction.id }}Label" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                            <div class="modal-body text-start">
                                                <p>Você já efetuou o pagamento desta transação?</p>
                                                <p>Descrição da transação: {{ transaction.description }}</p>
                                                <p>Valor: R$ {{ transaction.value }}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <form action="{% url "finance:transaction_is_paid" transaction.id %}" method="post">
                                                    {% csrf_token %}
                                                    <button
                                                        type="submit"
                                                        class="btn btn-success btn-sm"
                                                        name="is_paid">Confirmar pagamento $</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="ms-2">
                                    <i class='bx bx-edit'></i>
                                </a>
                                <a href="#" class="ms-2 text-danger">
                                    <i class='bx bx-trash' ></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">
                                {% if request.GET.q or request.GET.f %}
                                    Nenhum resultado encontrado.
                                {% else %}
                                    Nenhuma transação cadastrada.
                                    <a href="{% url "finance:transaction_create" %}">
                                        Criar uma transação
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "partials/pagination.html" %}
        </div>
    </div>

{% endblock content %}